.menu__category__plat__prixicon__icon {
    display: flex;
    justify-content: center;
    width: 59px;
    height: 69px;
    border-radius: 0px 15px 15px 0px;
    background-color: $green-light;
    color: white;
    text-align: center;
    align-items: center;


    i {
        font-size: 20px;
    }
        
 }
.menu__category__plat + .menu__category__plat__prixicon:hover{
    transform: translateX(-59px);
}