
.coeur{
    cursor: pointer;
    position: relative;
    text-shadow: 0 0 1px black;
    z-index: 1;
    color: white;
    transition: text-shadow 100ms;
        &:hover{
            text-shadow: none;
            &::after{
                display: block;
                opacity:1;
            }
        }
        &::after {
            display: none;
            @include fontawesome ("\f004");
            @include after-position;
            @include gradientHeart;
            opacity: 0;
            z-index: 2;
            animation: appear $anim-dur ease-in-out forwards;
          }
}





