

.coeur{
    cursor: pointer;
}

.coeur__plein{
    display: none;
    opacity: 0%;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: opacity 400ms ease-in-out;
}

.coeur:hover{
    display: none;
}

.coeur + .coeur__plein :hover{
    display: inline;
    opacity: 1;
    transform: opacity;
}


