.purple-button {
    @include button-style;
    position: relative;
    z-index:1 ;

    &:hover{
        &::after{
            opacity:1;
        }
    }
    &::after {
        content: "";
        border-radius: 25px;
        @include button-shadow;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $lightgradient;
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms ease-in-out 10ms;
    }
}