.purple-button {
    cursor: pointer;
    display: block;
    position: relative;
    z-index:1 ;
    width: 218px;
    height: 50px;
    border-radius: 25px;
    background: $purple-gradient;
    @include button-shadow();
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500px;
    font-size: 16px;
    border: 0px transparent;
    &:hover{
        &::after{
            opacity:1;
        }
    }
    &::after {
        content: "";
        border-radius: 25px;
        @include button-shadow;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $lightgradient;
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms ease-in-out 10ms;
    }
}